* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: black;
    color: white;
    font-family: 'Jost', sans-serif;
}

#nav-bar {
    position: fixed;
    display: inline-block;
    z-index: 10;
    background-color: #333333ff;
    width: 100%;
    margin: 0px;
    border: none;
    height: 75px;
    overflow: hidden;
    border-bottom: 10px black;
}

ul {
    display: inline-block;
    font-size: x-large;
    text-align: center;
    position: relative;
    bottom: 20px;
    margin: 0 auto;
    overflow: hidden;
}

li.nav-item {
    display: inline-block;
    width: 150px;
    border: white 2px solid;
    margin: auto 0;
    border-radius: 7px;
    cursor: pointer;
}

li.nav-item:hover {
    color: #333333ff;
    background-color: white;
    transition-duration: 0.4;
}

#corner-logo {
    margin: 0px;
    display: inline-block;
    height: 75px;
    width: 150px;
    position: relative;
}

#introduction {
    font-size: larger;
    display: block;
    height: 50px;
    width: 980px;
    position: relative;
    top: 100px;
    margin-left: 10px;  
}

.brewery-settings {
    background-color: black;
    padding: 10px;
    display: inline-block;
    position: relative;
    top: 140px;
    width: 980px;
    margin-left: 5px;
}

.bs-questions {
    font-size: large;
}

#submit-button {
    height: 50px;
    width: 200px;
    color: white;
    background-color: #333333ff;
    border: white 2px;
    border-radius: 7px;
    transition-duration: 0.4s;
    font-family: 'Jost', sans-serif;
    font-size: large;
}

#submit-button:hover {
    background-color: white;
    color: black
}

#packaging-format-checkboxes {
    border-spacing: 30px 10px;
}
